<p>
  <b>Slug:</b>
  <%=h @topic.slug %>
</p>

<p>
  <b>Name:</b>
  <%=h @topic.name %>
</p>

<p>
  <b>Description:</b>
  <%=h @topic.description %>
</p>


<%= link_to 'Edit', edit_topic_path(@topic) %> |
<%= link_to 'Back', topics_path %>
