<p>
  <b>Slug:</b>
  <%=h @link.slug %>
</p>

<p>
  <b>Title:</b>
  <%=h @link.title %>
</p>

<p>
  <b>Description:</b>
  <%=h @link.description %>
</p>

<p>
  <b>Url:</b>
  <%=h @link.url %>
</p>


<%= link_to 'Edit', edit_link_path(@link) %> |
<%= link_to 'Back', links_path %>
